<!DOCTYPE html>
<html>
<head>
    <title >Générateur de Recettes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .container {
            flex: 1;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Générateur de Recettes</a>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="mb-4">Générateur de Recettes</h1>
        <form action="/generate_recipe" method="get">
            <button class="btn btn-primary" type="submit">Générer la recette</button>
        </form>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © {{ current_year }} Générateur de Recettes
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
