<!DOCTYPE html>
<html>
<head>
    <title>Générateur de Recettes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .container {
            flex: 1;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"style="text-align: center; font-family: 'Courier New', Courier, monospace;">Générateur de Recettes</a>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="mb-4">Générateur de Recettes</h1>
        <form action="/generate_recipe" method="get">
            <button class="btn btn-primary" type="submit">Générer une recette de manière aléatoire</button>
        </form>
        <h2 class="mt-5">Ajouter une nouvelle recette :</h2>
        <form action="/add_recipe" method="post">
            <div class="form-group">
                <label for="recipe_name">Nom de la recette :</label>
                <input type="text" class="form-control" id="recipe_name" name="recipe_name" required>
            </div>
            <div class="form-group">
                <label>Ingrédients :</label>
                <div class="form-check">
                    {% for ingredient in ingredients %}
                        <input class="form-check-input" type="checkbox" name="recipe_ingredients" value="{{ ingredient.name }}">
                        <label class="form-check-label">{{ ingredient.name }}</label><br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label>Étapes :</label>
                <textarea class="form-control" name="recipe_steps" rows="5" required></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Ajouter la recette</button>
        </form>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © {{ current_year }} Générateur de Recettes
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>